table {
    table-layout: fixed;
    width: 50%;
}

th  {
    background-color: lightgray;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

td  {
    width: 20px;
    overflow: hidden;
    text-align: center;
}

th button {
    color: black;
    width: 100%;
    height: 100%;
    margin: -10px;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

th button:hover {
    background-color: #ddd;
}